<table class="pure-table" width="100%">
  <thead>
    <tr>
      <th>Is authenticated</th>
      <th>User Name</th>
      <th>Name</th>
      <th>Last login</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% if user.is_authenticated %}
          Yes
        {% else %}
          <strong>NOT</strong> authenticated
        {% endif %}
      </td>
      <td>{{ user.username }}</td>
      <td>
        {% if user.is_authenticated %}
          {{ user.first_name }}
          {{ user.last_name }}
        {% endif %}
      </td>
      <td>
        {% if user.is_authenticated %}
          {% if user.last_login %}
            {{ user.last_login|date:'d/m/Y H:i' }}
          {% endif %}
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
{% if not user.is_authenticated %}
  <p>
    <a href="{% url 'register' %}">Register</a>
  </p>
  <p>
    <a href="{% url 'login' %}">
      <i class="fa fa-sign-in"></i>
      Login
    </a>
  </p>
  <p>
    <a href="{% url 'password_reset' %}">Reset password</a>
  </p>
  <p>
    <a href="{% url 'example.test' %}">Navigate to login protected test page</a>
  </p>
{% endif %}
{% if user.is_authenticated %}
  <p>
    <a href="{% url 'logout' %}">
      <i class="fa fa-sign-out"></i>
      Logout
    </a>
  </p>
{% endif %}
