{% extends 'dash/base.html' %}

{% block sub_title %}
  Dash
{% endblock sub_title %}

{% block sub_heading %}
  Dash
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'example/_user_info.html' %}
    </div>
  </div>
{% endblock content %}
