{% extends 'dash/base.html' %}

{% block sub_title %}
  Home
{% endblock sub_title %}

{% block sub_heading %}
  Home
{% endblock sub_heading %}

{% block content %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'project.settings' %}" class="pure-menu-link">
          <i class="fa fa-cog"></i>
          Settings
        </a>
      </li>
      <li class="pure-menu-item">
        <a href="{% url 'example.test' %}" class="pure-menu-link">
          <i class="fa fa-thumbs-up"></i>
          Test
        </a>
      </li>
      {% if user.is_authenticated %}
        <li class="pure-menu-item">
          <a href="{% url 'logout' %}" class="pure-menu-link">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'example/_user_info.html' %}
    </div>
  </div>
{% endblock content %}
