{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
   - Home
{% endblock sub_title %}

{% block noheader %}{% endblock noheader %}

{% block content %}
  <div class="pure-g header">
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
    <div class="pure-u-1 pure-u-md-1-3 t-box">
      <img class="pure-img" src="{% static 'img/project/logo.png' %}" alt="KB Software logo">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
    <div class="pure-u-1">
      <h2>KB Software Ltd</h2>
      {% if user.is_authenticated and user.is_active %}
      {% else %}
        You are not logged into the server...
      {% endif %}
    </div>
  </div>
{% endblock content %}
