{% extends 'dash/base.html' %}

{% block sub_title %}
  Settings
{% endblock sub_title %}

{% block sub_heading %}
  Settings
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
    </div>
  </div>
{% endblock content %}
