{% extends 'dash/base.html' %}

{% block sub_title %}
  Example - Test Page
{% endblock sub_title %}

{% block content %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'project.home' %}" class="pure-menu-link">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      {% if user.is_staff %}
        <li class="pure-menu-item">
          <a href="{% url 'project.settings' %}" class="pure-menu-link">
            <i class="fa fa-cog"></i>
            Settings
          </a>
        </li>
        <li class="pure-menu-item">
          <a href="{% url 'password_reset_audit_report' %}" class="pure-menu-link">
            <i class="fa fa-table"></i>
            Password Reset Audit Report
          </a>
        </li>
      {% endif %}
      {% if user.is_authenticated %}
        <li class="pure-menu-item">
          <a href="{% url 'password_change' %}">
            Change Password
          </a>
        </li>
        <li class="pure-menu-item">
          <a href="{% url 'logout' %}" class="pure-menu-link">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </li>
      {% else %}
        <li class="pure-menu-item">
          <a href="{% url 'login' %}" class="pure-menu-link">
            <i class="fa fa-sign-in"></i>
            Login
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        You are logged in as '<strong>{{ user.username }}</strong>'
        (this page is used in unit tests where login is required).
      </p>
      {% if user.is_staff %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>User name</th>
              <th>Password</th>
              <th>Name</th>
              <th>Last login</th>
              <th>Is staff</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
              <tr>
                {% if u == request_user %}
                  <td></td>
                  <td></td>
                {% else %}
                  <td>
                    <a href="{% url 'update_user_name' u.pk %}">
                      <i class="fa fa-edit"></i>
                      {{ u.username }}
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'update_user_password' u.pk %}">
                      <i class="fa fa-edit"></i>
                      ********
                    </a>
                  </td>
                {% endif %}
                <td>{{ u.first_name }} {{ u.last_name }}</td>
                <td>
                  {% if u.last_login %}
                    {{ u.last_login }}
                  {% endif %}
                </td>
                <td>
                  {% if u.is_staff %}
                    <i class="fa fa-check"></i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>You are NOT a member of staff</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
