<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Login</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'login.audit.list' %}" class="pure-menu-link">
      <i class="fa fa-cogs"></i>
      Audit (Failed Login)
    </a>
  </div>
</div>

