{% extends 'dash/base.html' %}

{% block sub_title %}
  Your Account is Locked
{% endblock sub_title %}

{% block sub_heading %}
  Your Account is Locked
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <i class="fa fa-warning"></i>
        Your account is locked because of too many login attempts.
        <br>
        <a href="{% url 'login' %}">Please try again later...</a>
      </p>
    </div>
  </div>
{% endblock content %}
