{% extends 'dash/base.html' %}

{% block sub_title %}
  Logged out
{% endblock sub_title %}

{% block sub_heading %}
  You have been logged out
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        You have been logged out:
        <br>
        <br>
        <a href="{% url 'project.dash' %}">
          <i class="fa fa-sign-in"></i>
          Click here to login again.
        </a>
        <br>
        <br>
        <a href="{% url 'project.home' %}">
          <i class="fa fa-home"></i>
          Click here to go to the home page.
        </a>
      </p>
    </div>
  </div>
{% endblock content %}
