{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Login Audit - Failed Login
{% endblock title %}

{% block sub_heading %}
  Login Audit - Failed Login
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>ID</th>
            <th>Created</th>
            <th>Reason</th>
            <th>email</th>
            <th>Payload</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.pk }}
              </td>
              <td>
                {{ x.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                {{ x.slug }}
              </td>
              <td>
                {{ x.email }}
              </td>
              <td>
                {% if x.payload %}
                  <small>
                    {{ x.payload.keys }}
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

