{% extends 'dash/base.html' %}

{% block sub_title %}
  Login
{% endblock sub_title %}

{% block sub_heading %}
  Login
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% if use_openid_connect %}
        <p>
          {% if user.is_authenticated %}
            <i class="fa fa-info-circle"></i>
            You are already logged in (as {{ user.email }}).
          {% else %}
            <a href="{% url 'oidc_authentication_init' %}?next={{ next|urlencode }}">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              To help keep your account secure, we need to verify it's you.
              <br>
              Please sign in to continue...
            </a>
          {% endif %}
        </p>
      {% else %}
        {% include '_form.html' with legend='Login' submit='Log in' %}
        <p>
          <a href="{% url 'password_reset' %}">
            Click here if you have forgotten your password...
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  <script>
    if (document.cookie == "") {
      document.cookie ="ok=yes";
      if (document.cookie == "") {
        var ncm = document.querySelector("#no-cookies-message");
        if (ncm === null) {
          var f= document.querySelector("form");
          e = document.createElement("p");
          e.style.color = "red";
          e.setAttribute("id", "no-cookies-message");
          e.innerHTML = "Cookies are disabled - to login you must enable cookies";
          f.parentNode.insertBefore(e, f);
        }
      }
    }
  </script>
{% endblock script_extra %}
