{% extends 'dash/base.html' %}

{% block sub_title %}
  Change password
{% endblock sub_title %}

{% block sub_heading %}
  Change password
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Change password' submit='Change password' %}
    </div>
  </div>
{% endblock %}
