{% extends 'dash/base.html' %}

{% block title %}
  Password Reset Audit
{% endblock title %}

{% block sub_heading %}
  Password Reset Audit
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'base/_paginate.html' %}
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>email</th>
            <th>Date</th>
            <th>Reset attempts</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>{{ o.email }}</td>
              <td>{{ o.request_date|date:'d/m/Y' }}</td>
              <td>{{ o.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'base/_paginate.html' %}
    </div>
  </div>
{% endblock content %}
