{% extends 'dash/base.html' %}

{% block sub_title %}
  Update user name
{% endblock sub_title %}

{% block sub_heading %}
  Update user name for
  {% if object.first_name and object.last_name %}
    {{ object.first_name }} {{ object.last_name }}
  {% else %}
    '{{ object.username }}'
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with legend='Update user name' submit='Update User Name' aligned=True %}
      </div>
    </div>
  </div>
{% endblock %}
